
             <!--Header-->
    
            <div class=" hero ">
                <!-- Masthead Avatar Image-->
                <img class="avatar" src="../img/logo.svg" alt="..." />
                
                <!-- Masthead Heading-->
               
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">"One sees clearly only with the heart. What is essential is invisible to the eye." </p>
                <br>
                <br>
                <a class= "btn btn-lg btn-primary" href=" {{path('app_register') }} ">Signup</a>
            </div>  

        



