<nav id="LeMenu">
	
			<a class="a logoWord" href="/">tarafoto</a>

				<a class="a" href="#contact">About</a>
				<a class="a" href="#footer">Contact</a>
				{% if app.user %}
				<a class="a" href="{{ path('app_logout') }}">logout</a>
				{% endif %}
				{% if app.user %}
				<a class="a" href="{{ path('show') }}">Gallery</a>
				{% else %}
				<a class="a" href="{{ path('app_login') }}">Signin</a>
				{% endif %}
</nav>
<div id="CmdMenu" title="Afficher/Masquer le Menu">&#9776;</div>