{% extends 'base.html.twig' %}

{% block body %}
   <header>
   
    <div class="wrap-contact2">
    <div class="wrap-contact2">
  <div class="imgcontainer">
    <img src="img/logo.svg" alt="Avatar" class="avatarlog">
	  <h3 class="h2 ">Add new post </h3>

  </div>
    
    {{ form(form_descripstion)}}
    
   </div>


	
   </header>







{% endblock %}
