{% extends 'base.html.twig' %}

{% block title %}Hello Post Controller!{% endblock %}

{% block body %}


    <h1>List of all the post</h1>
        <table class="tabme table-post">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Titlr</td>
                </tr>
            </thead>
            <tbody>
            
                
              
            </tbody>
    
    </table>
    
    
 
            
{% endblock %}