{% extends 'base.html.twig' %}

{% block title %}Hello Post Controller!{% endblock %}

{% block body %}


    <h1>Page Posts</h1>
    
    <p>Description : {{ post.descripstion  }}</>
    <p>Price : {{ post.price}}</p>
 
            
{% endblock %}